@charset "utf-8";
body,html{height: 100%;background: #262628;}
.pull-right{float: right;}
.pull-left{float: left;}
#box1{width: 7rem;margin: 0 auto;}
#box{height: 100%;display: -webkit-box;-webkit-box-orient: vertical;background: #262628;display: none;}
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }

/*内容区*/
@-moz-keyframes animations3{
	 0%{-moz-transform:rotate(0deg);}
    50%{-moz-transform:rotate(180deg);}
    100%{-moz-transform:rotate(360deg);}
    }
@-ms-keyframes animations3{
	 0%{-ms-transform:rotate(0deg);}
    50%{-ms-transform:rotate(180deg);}
    100%{-ms-transform:rotate(360deg);}
}
@-webkit-keyframes animations3{
	 0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(360deg);}
}
@keyframes animations3{
	 0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(360deg);}
}
.recomment-cont{
	-webkit-box-flex: 1;
	background: #262628;
	height: auto;
	position: absolute;
	top:0;
	width: 7rem;
	overflow: hidden;
	display: none;
}
.video-cont{
	position: relative;
	}
.videoimg{position: absolute;top: 0;width: 2rem;z-index: -1;}
.video-cont-head{
	border-bottom: 1px solid #5d5d5f;
	background: #262628;
	}
.video-cont-head p{
	color: #ffffff;
	padding-left: 0.24rem;
	}
.video-cont-head p:nth-of-type(1){
	font-weight: bold;
	padding-top: 0.2rem;
	font-size: 0.3rem;
	}
.video-cont-head p:nth-of-type(2){
	padding: 0.2rem 0 0.30rem 0.24rem;
	font-size: 0.3rem;
	}
.video-cont-foot{
	padding: 0.2rem 0.33rem 0.21rem 0.34rem;
	
	background: #262628;
	line-height: 0.4rem;
	color: #98989a;
	font-size: 0.3rem;
	}
.share-cont-tv{
	text-align: center;
	padding: 0.40rem 0 0 0;
	color: #FFFFFF;
	font-size: 0.4rem;
	}
.share-cont-type{
	height: 1.4rem;
	margin: 0 1rem;
	}
.share-cont-type ul li{
	width: 1.25rem;
	text-align: center;
	float: left;
	line-height: 1.37rem;
	}
.share-cont-type ul li i{
	font-size: 0.60rem;
	color: #FFFFFF;
	}
/*app下载*/
.down-app{
	border-top: 1px solid #a0a0a0;
	border-bottom: 1px solid #a0a0a0;
	padding: 0.1rem 0;
	margin-top: 0.2rem;
	display: none;
	}
.down-app-img{
	float: left;
	width: 0.8rem;
	height: 0.8rem;
	background: url(../img/hibg.png) no-repeat;
	background-size: contain;
	border-radius: 0.2rem;
	margin-left: 0.1rem;
	}
.down-app-p{
	float: left;
	font-size: 0.3rem;
	color: #FFFFFF;
	padding-left: 0.8rem;
	padding-top: 0.23rem;
	}
.download-app{
	float: right;
	font-size: 0.22rem;
	color: #FFFFFF;
	margin-right: 0.1rem;
	padding: 0.1rem;
	border: 1px solid #FFFFFF;
	border-radius: 0.1rem;
	margin-top: 0.15rem;
	}

.recomment-code-img{
	width: 1.6rem;padding: 0.3rem 2.7rem;
}
.recomment-code-p{
	font-size: 0.3rem;
	color: #FFFFFF;
	width: 5rem;
	margin: 0 1rem;
	text-align: center;
	border-bottom: 1px solid #FFFFFF;
}
.share-mask {
	background: #4C4C4C;
	width: 10.8rem;
	height: 100%;
	position: fixed;
	top: 0;
	opacity: 0.7;
	display: none;
	}
.share-mask img{
	width: 7rem;
	position: absolute;
	top: 0;
	left:0;
	}
/*扫码区*/
.video-code{
	background: #262628;
	padding-bottom: 0.3rem;
	text-align: center;
	display: none;
	}
 .video-code-img{
 	padding: 0.3rem 0 0 0rem;
 	width: 2rem;
 	height: 2rem;
 	}
.video-code-p{
	color: #ffffff;
	padding: 0.30rem 0 0 0;
	font-size: 0.3rem;
	}
.video-code-middle{
	background: #262628;
	position: relative;
	margin-top:0.30rem ;
	}
.video-code-middle h2{
	text-align: center;
	padding: 0 0.02rem;
	color: #a0a0a2;
	font-weight: normal;
	font-size: 0.3rem;
	}
.video-code-middle div{
	position:absolute;
	width: 0.42rem;
	top:0.13rem;
	height: 0.20rem;
	background: url(../img/line.png) repeat-x;
	}
.video-code-middle div:nth-of-type(1){
	left: 2.8rem;
	}
.video-code-middle div:nth-of-type(2){
	right: 2.8rem;
	}
.video-code-phone{
	padding: 0.24rem 1.9rem 0.4rem;
	}
.video-code-phone img{
	float: left; 
	width: 1.5rem;
	}
.video-code-phone img:nth-of-type(1){
	padding-right: 0.14rem;
	}
.video-code-p2{
	color: #ffffff;
	font-size: 0.3rem;
	}
.today-foot-img{
	background: url(../img/hibg.png) no-repeat;
	background-size: contain;
	border-radius: 0.2rem;
	float: left;
	height: 0.8rem;
	width: 0.8rem;
	margin-left: 0.2rem;
	}
.video-code-foot {
	position: fixed;
	bottom: 0;
	background: url(../img/footbg.png) no-repeat;
	background-size: cover;
	height: 0.8rem;
	width: 7rem;
	display: none;
	}
.video-code-foot p:nth-of-type(1){
	font-size: 0.3rem;
	color: #FFFFFF;
	float: left;padding-left: 1rem;
	padding-top: 0.2rem;
	}
.icon{
	color: #FFFFFF;
	font-size: 0.2rem;
	float: right;
	margin:0.24rem 0.2rem 0 0;
	padding: 0.08rem;
	border-radius: 0.04rem;
	background: #c30d23;
	}

/*精彩视频推荐*/
.video-recommended{background: #262628; border-top: 1px solid #5d5d5f;}
.video-recommended-title{padding: 0.11rem 0 0.1rem 0.14rem;}
.video-recommended-title p{float: left;}
.video-recommended-title p:nth-of-type(1){width: 0.12rem;height: 0.40rem;background: #c30d23;}
.video-recommended-title p:nth-of-type(2){font-size: 0.2rem;color: #ffffff;padding: 0.04rem 0 0 0.1rem;}
.video-recommended-first{padding-left: 0.14rem;}
.video-recommended-first img{float: left;padding-bottom: 0.2rem;width: 2.5rem;height: 1.6rem;}
.video-recommended-detail{float: left;border-bottom: 1px solid #5d5d5f;margin-left: 0.1rem;width:4.00rem;padding-bottom: 0.1rem;}
.video-recommended-detail p{color: #ffffff;width: 4.3rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.video-recommended-detail p:nth-of-type(1){font-size: 0.3rem;font-weight: bold;padding-top: 0.30rem;}
.video-recommended-detail p:nth-of-type(2){font-size: 0.26rem;padding: 0.22rem 0 0.2rem 0;}
/*.video-recommended-second{padding-top: 0.36rem;}
.video-recommended-second img{float: left;width: 3rem;}
.video-recommended-detail2{float: left;margin-left: 0.35rem;}
.video-recommended-detail2 p{color: #ffffff;}
.video-recommended-detail2 p:nth-of-type(1){font-size: 0.38rem;font-weight: bold;padding-top: 0.20rem;}*/
.video-recommended-detail2 p:nth-of-type(2){font-size: 0.28rem;padding-top: 0.32rem;}
.video-recommended-more{background: #262628;padding: 0rem 0.3rem 0.3rem 0.5rem;border-bottom: 1px solid #5d5d5f;}
.video-recommended-more p{text-align: center;padding: 0.08rem 0;border-radius: 0.12rem;background: #3d3c41;color:#fff;font-size: 0.16rem;}
  .refresh{
 	position: fixed;
 	top: 45%;
 	left: 43%;
 	display: none;
 }
 .refresh img{
 	-webkit-animation:animations3 1s linear 0s infinite;
    -moz-animation:animations3 1s linear 0s infinite;
    animation:animations3 1s linear 0s infinite;
 	height: 1rem;
 	width: 1rem;
 }

















